.flatpickr-calendar {
    @apply rounded-xl border border-gray-200 px-3 py-6;
    width: auto !important;
}

.flatpickr-months{
    @apply bg-white rounded-t-xl py-2 px-3 flex items-center justify-between;
}

.flatpickr-weekdays {
    @apply bg-white font-light;
}

.flatpickr-day,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.inRange,
.flatpickr-day.selected {
    border-radius: 0.75rem !important; /* sama dengan rounded-xl */
    hover: none;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    @apply bg-[#115640] text-white;
    hover: none;
}

.flatpickr-day.inRange,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    box-shadow: none !important;
}

.flatpickr-current-month {
    @apply text-sm font-semibold flex justify-center gap-2;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    @apply border rounded-lg;
}

.flatpickr-prev-month,
.flatpickr-next-month {
    position: relative !important;
    inset: auto !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #115640;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #569ff7
}
