.span-all{
    @apply text-[#083224] font-bold;
}

.span-cold{
    @apply text-[#183057] bg-[#E1EBFA] p-1 rounded-sm ml-1 font-bold;
}

.span-warm{
    @apply text-[#522504] bg-[#FFF1C2] p-1 rounded-sm ml-1 font-bold;
}

.span-hot{
    @apply text-[#900B09] bg-[#FDD3D0] p-1 rounded-sm ml-1 font-bold
}

.span-deal{
    @apply text-[#05261B] bg-[#CFE7DE] p-1 rounded-sm ml-1 font-bold;
}

.status-cold{
    @apply text-[#183057] bg-[#E1EBFA] rounded-sm font-light;
}

.status-warm{
    @apply text-[#522504] bg-[#FFF1C2] rounded-sm font-light;
}

.status-hot{
    @apply text-[#900B09] bg-[#FDD3D0] rounded-sm font-light
}

.status-deal{
    @apply text-[#02542D] bg-[#CFE7DE] rounded-sm font-light;
}

.status-trash{
    @apply text-[#343434] bg-[#F5F5F5] rounded-sm font-light;
}

.dot-trash-cold{
    @apply w-[5px] h-[5px] bg-[#224A8A] rounded-full block;
}

.dot-trash-warm{
    @apply w-[5px] h-[5px] bg-[#E8B931] rounded-full block;
}

.dot-trash-hot{
    @apply w-[5px] h-[5px] bg-[#EC221F] rounded-full block;
}

.status-grey{
    @apply text-[#1E1E1E] bg-[#F5F5F5] rounded-md font-light inline-block px-2 py-1;
}

.status-waiting{
    @apply text-[#682D03] bg-[#FFF1C2] rounded-md font-light inline-block px-2 py-1;
}

.status-finish{
    @apply text-[#02542D] bg-[#CFF7D3] rounded-md font-light inline-block px-2 py-1;
}

.status-expired{
    @apply text-[#900B09] bg-[#FDD3D0] rounded-md font-light inline-block px-2 py-1;
}